@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

.yt{
    font-family: "Yellowtail", cursive;
    color: #68A47F;
}

.nav {
    display: flex;
}

.logo {
    /* background-color: black; */
    display: flex;
}

.logo-mini {
    display: none;
}

.menuburger{
    display: none;
    width: 10vw;
    height: 10vw;
}

.banner{
    width: 99vw;
    height: 88vh;
    background-image: url("../images/Banner.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.discover{
    width: 25vw;
    height: 20vw;
    margin-left: 15vw;
    font-weight: 100;
    padding: 2vh;
}

.discoverbutton{
    width: 10vw;
    height: 7vh;
    margin-top: 2vh;
    background: #EFD372;
    font-size: 1em;
    text-align: center;
    border-radius: 10px;
}

.title{
    font-size: 2vw;
    font-weight: bold;
}

.menu {
    width: 45vw;
    height: 10vh;
    margin-left: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    align-items: center;
}

.menu ul {
    list-style-type: none;
    display: flex;
    padding: 0;
}

.menu ul li {
    margin-left: 2vw;
    width: 10vw;
}

.menu ul li a {
    text-decoration: none;
    font-size: large;
    color: #000000;
}

.menu ul li a:hover {
    border-radius: 10px 10px;
}

.description{
    width: 30vw;
    margin-top: 2vh;
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
}

.images{
    width: 70vw;
    margin-top: 10vh;
    display: flex;
}

.imgs{
    justify-content: center;
    margin-left: 10vw;
}

.part3{
    display: flex;
    margin-top: 5vh;
}

.pic{
    width: 50vw;
    height: 70vh;
    border: 1px  solid black;
}

.text{
    height: fit-content;
    border: 1px  solid black;
    margin-top: 15vh;
    margin-left: 5vw;
    padding: 5vw;
}


@media screen and (min-width:768px) and (max-width:1164px) {
   
    .menu{
        margin-left: auto;
        border: 1px solid #333;
        width:  50%;
    }

    .menu ul{
        list-style-type: none;
        display: flex;
        padding: 0;
        margin-top: 3vh;
    }

    .logo-maxi img{
        width: auto;
        height: auto;
    }

    .menu ul li {
        width: 10vw;
        font-size: medium;
    }

    .menu ul li a {
        text-decoration: none;
        font-size: medium;
        color: #000000;
    }

    .discover{
        width: 30vw;
        height: 20vw;
        margin-left: 20vw;
    }

    .title{
        font-size: 2vw;
        font-weight: bold;
        line-height: 9vw;
    }

    .description{
        font-size: 1vw;
        font-weight: bold;
        line-height: 3vw;
    }
}

@media screen and (max-width:768px) {
    .menu{
        display: none;
    }

    .banner{
        /* background-image: url("../images/Banner.png"); */
        /* background-size: cover; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 93vw;
    }
    
    .description{
        font-size: 4vw;
        font-weight: bold;
    }

    .logo {
        display: block;
        width: 90vw;
        flex-direction: column;
    }

    .logo-mini{
        display: inline;
        width: auto;
        height: auto;
        flex-direction: column;
    }

    .logo-maxi {
        display: none;
        background-color: none;
    }

    .menuburger {
        display: inline-block;
        width: auto;
        height: 5vh;
        margin-top: 1vh;
        float: right;
    }

    .discoverbutton{
        justify-content: center;
        width: 70%;
        font-size: small;
        align-items: center;
        align-content: center;
    }

    .discover{
        width: 37vw;
        height: auto;
        margin-left: 35vw;
        padding-left: 2vw;
        padding-right: 2vw;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }

    .images{
        display: block;
    }

    .imgs img{
        width: 70vw;
        margin-top: 5vh;
    }
}